.tabs {
  padding: 120px 0 120px;
}
.tabs__title {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}
/* Стили для табов */
.tabs__list {
  max-width: 600px;
  margin: auto;
  border: 1px solid #2c3e50;
  border-radius: 5px 0 5px 5px;
  border-top: none;
}

.tab-header {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tablinks {
  background-color: #2c3e50;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.2s ease-in-out;
  color: #fff;
}

.tablinks:hover {
  background-color: #008b2a86;
}

.tablinks.active {
  background-color: #2766ae;
}

.tabcontent {
  display: none;
  padding: 20px 20px;
  border-top: none;
  animation: fadeEffect 1s;
  h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  };
  p {
    font-size: 18px;
  }
}

.tabcontent.active {
  display: block;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

